<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PIS
	</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="message">
		<h2>{{message}}</h2>
	</div>
	<div class="wrapper">
		<h1>Potvrdenie registrácie </h1>
			<form action="/checkIn/{{id}}" method="POST">

				<table style="width:100%">

					<tr>
						<th>ID</th>
						<th>Meno</th>
						<th>Priezvisko</th>
						<th>Prezývka</th>
						<th>Email</th>
						<th>Datum narodenia</th>
						<th>Narodnost</th>
						<th>Pohlavie</th>
						<th>Potvrdenie</th>
					</tr>
					{{#each players}}
						<tr>
							<td>{{this.id}}</td>
							<td>{{this.name}}</td>
							<td>{{this.lastName}}</td>
							<td>{{this.nickName}}</td>
							<td>{{this.email}}</td>
							<td>{{this.birth}}</td>
							<td>{{this.narodnost}}</td>
							<td>{{this.pohlavie}}</td>
							<td><input type="checkbox" name="confirmed[]" value="{{this.id}}" id="confirmed"></td>
						</tr>
					{{/each}}
				</table> 



				{{!-- <div class="part">
					<input type="checkbox" name="confirmed" id="confirmed">
					<label for="confirmed" id="check">Potvrdenie</label>
				</div> --}}

				<input type="submit" class="button-ok" value="Ok" id="search-button"class="button btn-form">
				
			</form>

	</div>
	
	<script src="/js/libs/jquery-3.3.1.min.js"></script>
	<script>
		setTimeout(() => { 
			$('#message').hide(); 
		}, 3000);
	</script>
</body>
</html>