<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PIS
	</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="message">
		<h2>{{message}}</h2>
	</div>
	<a href="/" class="button-back">Domov</a>
	<div class="wrapper">
		<h1>Vytvorenie turnaja</h1>
		<form action="/tournament/create" method="POST">

			<a href="/tournaments/old" class="button" id="button-old">Podľa starého turnaja <i class="fas fa-arrow-right"></i></a>
			
			<div class="part">
				<label for="name">Názov</label>
				<input type="text" id="name" name="name" placeholder="Názov" value="{{tournament.name}}" required>
			</div>

			<div class="part">
				<label for="date" >Dátum konania<i class="far fa-calendar-alt"></i></label>
				<input type="date" id="date" name="date" onchange="handlerDate(event);" required>
			</div>

			<div class="part">
				<label for="place">Miesto</label>
				<input type="text" id="place" name="place" placeholder="Miesto" value="{{tournament.place}}" required>
			</div>

			<div class="part">
				<label for="maxC">Maximálna kapacita</label>
				<input type="number" min="4" id="maxC" name="maxC" placeholder="Maximálna kapacita" onchange="handlerCapacity1(event);" value="{{tournament.maxC}}" required>
			</div>

			<div class="part">
				<label for="minC">Minimálna kapacita</label>
				<input type="number" min="4" id="minC" name="minC" placeholder="Minimálna kapacita" onchange="handlerCapacity2(event);" value="{{tournament.minC}}" required>
			</div>

			<div class="part">
				<label for="parovanie">Párovanie</label>
				<select name="parovanie" id="parovanie">
					  <option value="svajciarsky">Švajčiarsky</option>
					  <option value="roundRobin">Round robin</option>
					  <option value="pavuk">Pavúk</option>
				</select>
			</div>

			{{#if sports}}
				<div class="part">
					<label for="sportId">Šport</label>
					<select name="sportId" id="sportId">
							{{#each sports}}
						  		<option value="{{this.id}}">{{this.name}}</option>
						  	{{/each}}
					</select>
				</div>
			{{/if}}
			<div class="part">
				<label for="date1">Dátum zverejnenia<i class="far fa-calendar-alt"></i></label>
				<input type="date" id="date1" name="date1" required>
			</div>


			<input type="submit" class="button-ok" value="Ok" id="search-button"class="button btn-form">
			
		</form>

	</div>
	
	<script src="/js/libs/jquery-3.3.1.min.js"></script>
	<script src="/js/libs/jquery-dateformat.min.js"></script>
	<script>
		let date = $('#date');
		let date1 = $('#date1');
		let maxC = $('#maxC');
		let minC = $('#minC');
		date.attr('min',$.format.date(new Date(), 'yyyy-MM-dd'));

		function handlerDate(e){
			date1.attr('max',e.target.value);
		}

		function handlerCapacity1(e){
			minC.attr('max',e.target.value);
		}

		function handlerCapacity2(e){
			maxC.attr('min',e.target.value);
		}

		setTimeout(() => { 
			$('#message').hide(); 
		}, 3000);
	</script>
</body>
</html>