<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PIS
	</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="message">
		<h2>{{message}}</h2>
	</div>
	<div class="wrapper">
		<h1>Zapasy {{round}}. kola</h1>
		{{#if pavuk}}
			<form action="/pavuk/update" method="POST">
		{{else}}
			<form action="/roundRobin/update" method="POST">
		{{/if}}
			<h2>Prosim, vyplnte vsetky zapasy</h2>
			<table >
				<tr>
					<th>Názov tímu 1</th>
					<th>Skore A</th>
					<th>Skore B</th>
					<th>Názov tímu 2</th>
				</tr>
					{{#each matches}}
					<tr>
						<td>{{this.team1}}</td>
						<td><input type="number" id="{{this.id}}A" name="{{this.id}}A" placeholder="{{this.scoreA}}"></td>
						<td><input type="number" id="{{this.id}}B" name="{{this.id}}B" placeholder="{{this.scoreB}}"></td>
						<td>{{this.team2}}</td>
					</tr>
					{{/each}}
			</table> 

			<input type="submit" class="button-ok" value="Potvrdiť" id="search-button"class="button btn-form">
			
		</form>

	</div>
	
	<script src="/js/libs/jquery-3.3.1.min.js"></script>
	<script>
		setTimeout(() => { 
			$('#message').hide(); 
		}, 3000);
	</script>
</body>
</html>