<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PIS
	</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	<div id="message">
		<h2>{{message}}</h2>
	</div>
	<a href="/" class="button-back">Domov</a>
	<div class="wrapper">
		<h2>{{tournament.name}}</h2>
		<div class="group">
			<div class="info">
				<p class="info"><span>Dátum konania</span>{{tournament.date}}</p>
				<p class="info"><span>Dátum zverejnenia</span>{{tournament.date1}}</p>
				<p class="info"><span>Maximálna kapacita</span>{{tournament.maxC}}</p>
				<p class="info"><span>Minimálna kapacita</span>{{tournament.minC}}</p>
				<p class="info"><span>Počet nepotvrdených hráčov</span>{{tournament.numberOfConnected}}</p>
				<p class="info"><span>Počet potvrdených hráčov</span>{{tournament.numberOfConfirmed}}</p>
				<p class="info"><span>Miesto konania</span>{{tournament.place}}</p>
				<p class="info"><span>Párovanie</span>{{tournament.parovanie}}</p>
				<p class="info"><span>Šport</span>{{tournament.sport}}</p>
			</div>
		</div>
			{{#if tournament.connected}}
			{{else}}
				{{#unless tournament.ended}}
				<a href="/connect/{{tournament.id}}" class="link">Prihlásiť sa <i class="fas fa-arrow-right"></i></a>
				{{/unless}}
			{{/if}}
			{{#if tournament.organizator}}
			
				<a href="/tournament/create/{{tournament.id}}" class="link">Vytvoriť nový turnaj podľa tohto<i class="fas fa-arrow-right"></i></a>
				{{#unless tournament.ended}}
				<a href="/tournament/checkIn/{{tournament.id}}" class="link">Potvrdenie prihlášok<i class="fas fa-arrow-right"></i></a>
				<a href="/start/{{tournament.id}}" class="link">Spustenie turnaja <i class="fas fa-arrow-right"></i></a>
				{{/unless}}
			{{/if}}
			{{#if tournament.ended}}
				<a href="/result/{{tournament.id}}" class="link">Pozrieť si výsledky <i class="fas fa-arrow-right"></i></a>
			{{/if}}
		
	</div>
	
	 <script src="/js/libs/jquery-3.3.1.min.js"></script> 
	<script>
		setTimeout(() => { 
			$('#message').hide(); 
		}, 6000);
	</script>
</body>
</html>